.vscode/
!.vscode/extensions.json
*.code-workspace

.idea/
*.iws
*.iml

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage

node_modules/
/dist
/build
.npm
*.log

*.class
/target/
.gradle/
/build/

*.o
*.obj
*.exe
*.out
/bin/

*.env
*.local
credentials.json

bin/
[Bb]in/

obj/
[Oo]bj/